/* Styles of the iOS 10 kit website */

/* General */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

* {
  font-family: -apple-system, 'Helvetica', 'Open Sans', sans-serif;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #EFEFEF 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #EFEFEF 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #FEFEFE 75%, #EFEFEF 100%);
  padding-bottom: 100px;
}

.header {
  font-weight: 200;
  letter-spacing: -1px;
  font-size: 95px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  color: black;
}

.description {
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: -0.4px;
  color: #B0B0B0;
  text-align: center;
  margin-top: 0px;
}

.separator {
  width: 38px;
  height: 3px;
  background-color: #DBDBDB;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.general-text {
  margin: 0 auto;
  font-size: 13px;
  color: #E1E1E1;
}

.button {
  width: 220px;
  height: 55px;
  background: none;
  border: 2px solid #1B1B1B;
  border-radius: 10px;
  color: white;
  background-color: #1B1B1B;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.button:hover {
  color: #1B1B1B;
  background-color: transparent;
}

/* Top explanation */

#hero-header {
  position: relative;
  background-image: url("../resources/header.png");
  background-size: 150vw;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100vw;
  height: 110vh;
  top: 0;
  transform: translateY(-20vh);
  overflow-x: hidden;
}

#hero-title {
  margin-top: -17.5vh;
}

#hero-description {
  width: 60vw;
  max-width: 1000px;
  margin-left: 50%;
  transform: translateX(-50%);
}

#hero-button-container {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

#hero-button-container #last-updated {
  margin-top: 8px;
}

/* Parallax */

#parallax-container {
  position: relative;
  width: 100vw;
  height: 475px;
}

#parallax-wrapper {
  position: absolute;
  background-image: url("../resources/header.png");
  background-size: 150vw;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* Key points */

#key-points {
  text-align: center;
}

#key-points-table {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

#key-points-table tr td {
  padding-top: 30px;
  text-align: center;
}

.key-point-images {
  width: 120px;
  height: 120px;
}

.key-point-explanations {
  color: #B0B0B0;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 25px;
  width: 70%;
  text-align: center;
  margin-top: 0px;
  margin-left: 50%;
  transform: translateX(-50%);
}
