/* Styles of the iOS 10 kit website */

/* General */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

* {
  font-family: -apple-system, 'Helvetica', 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100vw;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #EFEFEF 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #EFEFEF 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #FEFEFE 75%, #EFEFEF 100%);
}

html {
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: #B0B0B0;
}

.header {
  font-weight: 200;
  letter-spacing: -1px;
  font-size: 95px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  color: black;
}

.description {
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: -0.4px;
  color: #B0B0B0;
  text-align: center;
  margin-top: 0px;
}

.separator {
  width: 38px;
  height: 3px;
  background-color: #DBDBDB;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.general-text {
  margin: 0 auto;
  font-size: 13px;
  color: #E1E1E1;
}

.button {
  width: 220px;
  height: 55px;
  background: none;
  border: 2px solid #1B1B1B;
  border-radius: 10px;
  color: white;
  background-color: #1B1B1B;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.button:hover {
  color: #1B1B1B;
  background-color: transparent;
}

/* Top explanation */

#hero-header {
  position: relative;
  background-image: url("../resources/header_full.jpg");
  background-size: 150vw;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  width: 100vw;
  height: 70vh;
}

#hero-description {
  width: 80vw;
  max-width: 1000px;
  margin-left: 50%;
  transform: translateX(-50%);
}

#hero-button-container {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

#hero-button-container #last-updated {
  margin-top: 8px;
}

#last-updated {
  margin-top: 8px;
  color: #E1E1E1;
}

#last-updated-link {
  color: #E1E1E1;
}

/* Parallax */

#parallax-container {
  position: relative;
  width: 100vw;
  height: 475px;
}

#parallax-wrapper {
  position: absolute;
  background-image: url("../resources/header_full.jpg");
  background-size: 150vw;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* Key points */

#key-points {
  text-align: center;
}

#key-points-table {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#key-points-table div {
  display: inline-block;
  float: center;
  text-align: center;
  width: 33%;
  overflow: hidden;
}

#key-points-table div:after {
    content: "";
    clear: both;
    display: block;
}

#key-points-table div div {
  width: 100%;
}

.key-point-images {
  width: 154px;
  height: 154px;
  margin: 0 auto;
  margin-left: 50%;
  transform: translateX(-50%);
}

.key-point-explanations {
  color: #B0B0B0;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 25px;
  width: 80%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
  white-space: normal;
}

/* Footer */

footer {
  margin-top: 100px;
  text-align: center;
}

#footer-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  max-width: 1300px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-left: 50%;
  transform: translateX(-50%);
}

.footer-images {
  width: 350px;
}

#footer-image-left {
  position: absolute;
  top: 10px;
  left: 0px;
}

#footer-image-right {
  position: absolute;
  top: 200px;
  right: 0px;
}

#credit-container {
  margin-top: 300px;
  transform: translateY(-50%);
}

#credit-container h3 {
  color: #B7B7B7;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

#credit-container h3 a {
  position: relative;
  color: #4A4A4A;
  cursor: pointer;
  text-decoration: none;
}

#credit-container h3 a:after {
  position: absolute;
  content: "";
  left: 50%;
  right: 50%;
  bottom: -2px;
  background: #4A4A4A;
  height: 1px;
  transition: all 0.3s ease-in;
}

#credit-container h3 a:hover:after {
  left: 0%;
  right: 0%;
}

#share-table {
  margin-left: 50%;
  transform: translateX(-50%);
}

#share-table tr td a img {
  transition: all 0.15s ease-in;
}

#share-table tr td a img:hover {
  transform: scale(1.2);
}

.share-images {
  width: 80px;
  height: 80px;
}

@media (max-width: 1000px) {
  #hero-header {
    background-size: 1440px;
  }

  #parallax-wrapper {
    background-size: 1440px;
  }

  #footer-image-left {
    visibility: hidden;
  }

  #footer-image-right {
    visibility: hidden;
  }

  #footer-wrapper {
    height: 300px;
    width: 100vw;
  }

  #credit-container {
    margin-top: 100px;
  }
}

@media (max-width: 800px) {
  #key-points-table div {
    width: 85%;
    max-width: 85%;
  }

  .key-point-images {
    margin-left: 7.5%;
    transform: translateX(0);
  }
}

@media (max-width: 500px) {
  #hero-title {
    font-size: 70px;
  }

  .key-point-explanations {
    margin-bottom: 50px;
  }

  .key-point-images {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
  }

  #key-points-table div {
    width: 90%;
  }

  #footer-wrapper {
    margin-top: -75px;
  }

  #credit-container h3 {
    font-size: 13px;
    margin-top: 0px;
  }
}
